@charset "UTF-8";


@media screen and (min-width: 768px) and (max-width: 992px) {
    section#login {
        width: 90vw;
    }
    div#imagem {
        background: url("../imagens/tela.jpg") center  no-repeat ;
        background-size: cover;
        float: left;
        width: 30vw;
        height: 100vh;
    }
    div#formulario {
        float: right;
        width: 65%;
        height: 100vh;
    }
}
@media screen and (min-width: 992px) {
    section#login {
        width: 990px;
    }
   section#login > div#imagem { 
        background: url("../imagens/tela.jpg") no-repeat top center;  
        
        float: left;
        width: 55%;
        height: 100vh;
    }
   section#login > div#formulario {
        float: right;
        width: 45%;
    }
    
}